html, body {
  height: 100%;
  background: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 1000px;
  margin: 0 auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.title {
  margin: 0 auto;
  padding-top: 50px;
  font-family: "Lora";
  font-weight: 600;
  font-size: 40px;
  width: 900px;
}
.paragraph {
  width: 900px;
  margin: 20px auto 30px auto;
  font-family: "Lora";
  font-size: 15px;
}

.tick > * {
  font-size: 15px;
}

.xAxis {
  font-weight: 400;
}

.axisLeft {
  width: 40px;
}
.axisLeft path,
.axisLeft line {
  fill: none;
  stroke: none;
  font-weight: 400;
}
.axisLeft .tick line {
  stroke: #666;
}
.text1, .text2, .text3 {
  font-family: "Roboto";
  font-size: 14px;
}
.text1 {
  font-family: "Lora";
  font-size: 30px;
  font-weight: 400;
}

.form-data-selector {
  /*margin-left: 2.5em;*/
}
.form-data-selector > input {
  margin-left: 4em;
}
